{{#contentFor "styleadmin"}}
<link rel="stylesheet" href="/css/ad_detail.css" />
{{/contentFor}}

{{! Detail product }}
<div class="main-content">
    <input type="hidden" id="productId" value="{{product.ID}}" />

    <div class="header">
        <div class="header__save-box" id="editUpdateBtn">
            <i class="fa-solid fa-pen-to-square"></i>
            <div class="header__save">Edit</div>
        </div>
    </div>

    <!-- Information edit products -->
    <div class="add-wrap">
        <div class="add-left">
            <!-- Main Product Images - Always show 6 slots -->
            <div class="add-card__item" data-index="0">
                <input type="file" class="image-input" accept="image/*"
                    style="display: none;" />
                {{#if product.mainImages.[0]}}
                <img class="main-preview-image" src="{{product.mainImages.[0]}}"
                    style="display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{else}}
                <img class="main-preview-image"
                    style="display: none; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{/if}}
                <div class="add-card__plus"
                    style="display: {{#if product.mainImages.[0]}}none{{else}}flex{{/if}}; position: relative; z-index: 1;">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="add-card__item" data-index="1">
                <input type="file" class="image-input" accept="image/*"
                    style="display: none;" />
                {{#if product.mainImages.[1]}}
                <img class="main-preview-image" src="{{product.mainImages.[1]}}"
                    style="display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{else}}
                <img class="main-preview-image"
                    style="display: none; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{/if}}
                <div class="add-card__plus"
                    style="display: {{#if product.mainImages.[1]}}none{{else}}flex{{/if}}; position: relative; z-index: 1;">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="add-card__item" data-index="2">
                <input type="file" class="image-input" accept="image/*"
                    style="display: none;" />
                {{#if product.mainImages.[2]}}
                <img class="main-preview-image" src="{{product.mainImages.[2]}}"
                    style="display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{else}}
                <img class="main-preview-image"
                    style="display: none; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{/if}}
                <div class="add-card__plus"
                    style="display: {{#if product.mainImages.[2]}}none{{else}}flex{{/if}}; position: relative; z-index: 1;">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="add-card__item" data-index="3">
                <input type="file" class="image-input" accept="image/*"
                    style="display: none;" />
                {{#if product.mainImages.[3]}}
                <img class="main-preview-image" src="{{product.mainImages.[3]}}"
                    style="display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{else}}
                <img class="main-preview-image"
                    style="display: none; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{/if}}
                <div class="add-card__plus"
                    style="display: {{#if product.mainImages.[3]}}none{{else}}flex{{/if}}; position: relative; z-index: 1;">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="add-card__item" data-index="4">
                <input type="file" class="image-input" accept="image/*"
                    style="display: none;" />
                {{#if product.mainImages.[4]}}
                <img class="main-preview-image" src="{{product.mainImages.[4]}}"
                    style="display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{else}}
                <img class="main-preview-image"
                    style="display: none; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{/if}}
                <div class="add-card__plus"
                    style="display: {{#if product.mainImages.[4]}}none{{else}}flex{{/if}}; position: relative; z-index: 1;">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>

            <div class="add-card__item" data-index="5">
                <input type="file" class="image-input" accept="image/*"
                    style="display: none;" />
                {{#if product.mainImages.[5]}}
                <img class="main-preview-image" src="{{product.mainImages.[5]}}"
                    style="display: block; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{else}}
                <img class="main-preview-image"
                    style="display: none; width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;" />
                {{/if}}
                <div class="add-card__plus"
                    style="display: {{#if product.mainImages.[5]}}none{{else}}flex{{/if}}; position: relative; z-index: 1;">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="add__info-wrap">
            <input
                class="add__info-desc"
                type="text"
                placeholder="Enter Name product"
                id="productName"
                value="{{product.ProductName}}" />
            <textarea
                class="add__info-textarea"
                name="description"
                id="description"
                placeholder="Enter Description">{{product.Descriptions}}</textarea>

            <div class="add__info--input">
                <div class="add__info-cost">
                    <label class="add__info-desc" for="add__input-cost">Cost
                        :</label>
                    <input
                        type="number"
                        name="cost"
                        id="add__input-cost"
                        class="add__input-cost"
                        placeholder="What is the price of the product?"
                        step="0.01"
                        min="0"
                        value="{{product.Price}}" />
                </div>
                <div class="filer_box add__info-filter">
                    <i class="fa-solid fa-filter"></i>
                    <select class="add__info-edit" id="typeSelect">
                        <option value>Select Type</option>
                        <option value="1" {{#if (eq product.TypeID
                            1)}}selected{{/if}}>t-shirts</option>
                        <option value="2" {{#if (eq product.TypeID
                            2)}}selected{{/if}}>shirts</option>
                        <option value="3" {{#if (eq product.TypeID
                            3)}}selected{{/if}}>knitwear</option>
                        <option value="4" {{#if (eq product.TypeID
                            4)}}selected{{/if}}>sweatshirts</option>
                        <option value="5" {{#if (eq product.TypeID
                            5)}}selected{{/if}}>pants</option>
                        <option value="6" {{#if (eq product.TypeID
                            6)}}selected{{/if}}>outerwear</option>
                        <option value="7" {{#if (eq product.TypeID
                            7)}}selected{{/if}}>shoes</option>
                    </select>
                </div>
            </div>

            <div class="section__form">
                <div class="sizes-letter">
                    <div
                        class="section__form-size section__form-size--S">S</div>
                    <div
                        class="section__form-size section__form-size--M">M</div>
                    <div
                        class="section__form-size section__form-size--L">L</div>
                    <div
                        class="section__form-size section__form-size--XL">XL</div>
                    <div
                        class="section__form-size section__form-size--XXL">XXL</div>
                </div>
                <div class="sizes-numeric" style="display:none;">
                    <div
                        class="section__form-size section__form-size--36">36</div>
                    <div
                        class="section__form-size section__form-size--37">37</div>
                    <div
                        class="section__form-size section__form-size--38">38</div>
                    <div
                        class="section__form-size section__form-size--39">39</div>
                    <div
                        class="section__form-size section__form-size--40">40</div>
                    <div
                        class="section__form-size section__form-size--41">41</div>
                    <div
                        class="section__form-size section__form-size--42">42</div>
                    <div
                        class="section__form-size section__form-size--43">43</div>
                    <div
                        class="section__form-size section__form-size--44">44</div>
                </div>
            </div>

            <div class="add_quantity">
                <input type="number" class="add__quantity-input"
                    placeholder="Enter quantity" step="1" min="0"
                    pattern="[0-9]*" />
                <button class="add-save-btn">
                    <i class="fa-solid fa-floppy-disk"></i>
                    <span class="modal-save-text">Save</span>
                </button>
            </div>

            <h2 class="add__info-heading-other">COLORS</h2>
            <div class="add__info-card--wrap" id="colorCardsContainer">
                {{#each product.colors}}
                {{! Chỉ hiển thị color nếu KHÔNG phải là "Default" }}
                {{#unless (eq this.ColorName "Default")}}
                <div class="add__product-color" data-color-index="{{@index}}">
                    <div
                        class="add-card__plus add__product-plus active__product-color">
                        {{#if this.images.[0]}}
                        <img class="color-thumb-img" src="{{this.images.[0]}}"
                            style="width: 100%; height: 100%; object-fit: cover;" />
                        {{else}}
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        {{/if}}
                    </div>
                </div>
                {{/unless}}
                {{/each}}

                {{! Add new color button }}
                <div class="add__product-color add-new">
                    <div class="add-card__plus add__product-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Colors -->
<div class="modal-overlay" id="colorModal">
    <div class="modal-content">
        <div class="modal-grid">
            <div class="modal-left">
                <div class="modal-image-item" data-modal-index="0">
                    <input type="file" class="modal-image-input"
                        accept="image/*" style="display: none;" />
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image"
                        style="display: none; width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="modal-image-item" data-modal-index="1">
                    <input type="file" class="modal-image-input"
                        accept="image/*" style="display: none;" />
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image"
                        style="display: none; width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="modal-image-item" data-modal-index="2">
                    <input type="file" class="modal-image-input"
                        accept="image/*" style="display: none;" />
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image"
                        style="display: none; width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="modal-image-item" data-modal-index="3">
                    <input type="file" class="modal-image-input"
                        accept="image/*" style="display: none;" />
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image"
                        style="display: none; width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="modal-image-item" data-modal-index="4">
                    <input type="file" class="modal-image-input"
                        accept="image/*" style="display: none;" />
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image"
                        style="display: none; width: 100%; height: 100%; object-fit: cover;" />
                </div>
                <div class="modal-image-item" data-modal-index="5">
                    <input type="file" class="modal-image-input"
                        accept="image/*" style="display: none;" />
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666"
                                stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image"
                        style="display: none; width: 100%; height: 100%; object-fit: cover;" />
                </div>
            </div>

            <div class="modal-right">
                <div>
                    <div class="modal-product-name">Product Color</div>
                    <div class="modal-product-color">
                        <input type="text" class="modal_color"
                            placeholder="Enter color name" />
                    </div>
                </div>

                <div class="modal-size-grid">
                <!-- letter -->
                <div class="modal-sizes-letter">
                    <button class="modal-size-btn" data-size="S">S</button>
                    <button class="modal-size-btn" data-size="M">M</button>
                    <button class="modal-size-btn" data-size="L">L</button>
                    <button class="modal-size-btn" data-size="XL">XL</button>
                    <button class="modal-size-btn" data-size="XXL">XXL</button>
                </div>
                <!-- numeric (hidden) -->
                <div class="modal-sizes-numeric" style="display:none;">
                    <button class="modal-size-btn" data-size="36">36</button>
                    <button class="modal-size-btn" data-size="37">37</button>
                    <button class="modal-size-btn" data-size="38">38</button>
                    <button class="modal-size-btn" data-size="39">39</button>
                    <button class="modal-size-btn" data-size="40">40</button>
                    <button class="modal-size-btn" data-size="41">41</button>
                    <button class="modal-size-btn" data-size="42">42</button>
                    <button class="modal-size-btn" data-size="43">43</button>
                </div>
            </div>

                <div class="modal-quantity-wrap">
                    <input type="number" class="modal-quantity-input"
                        placeholder="Enter quantity" step="1" min="0"
                        pattern="[0-9]*" />
                    <button class="modal-save-btn">
                        <i class="fa-solid fa-floppy-disk"></i>
                        <span class="modal-save-text">Save</span>
                    </button>
                </div>
            </div>
        </div>

        <button class="modal-done-btn" id="closeModalBtn">
            <i class="fa-solid fa-check"></i>
            Done
        </button>
    </div>
</div>

<script>
// Initialize productData from server
window.productData = {
    id: {{product.ID}},
    name: "{{product.ProductName}}",
    description: `{{{product.Descriptions}}}`,
    type: "{{product.TypeID}}",
    cost: "{{product.Price}}",
    mainImages: [
        {{#each product.mainImages}}
        "{{this}}"{{#unless @last}},{{/unless}}
        {{/each}}
    ],
    colors: [
        {{#each product.colors}}
        {
            colorId: {{this.ColorID}},
            colorName: "{{this.ColorName}}",
            images: [
                {{#each this.images}}
                "{{this}}"{{#unless @last}},{{/unless}}
                {{/each}}
            ],
            sizes: [
                {{#each this.sizes}}
                { size: "{{this.size}}", quantity: {{this.quantity}} }{{#unless @last}},{{/unless}}
                {{/each}}
            ]
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
};
console.log(' Product data loaded:', window.productData);
</script>

<script src="/js/detail.js"></script>